
.container {
    display: grid;
    gap:5px;

    /*padding: 5px;*/
}

.container {
    align-items: center
}

#products {
    grid-template-columns: [col-start] 1fr 24px 1fr 24px 24px [col-end];
}
#recipes {
    grid-template-columns: [col-start] 24px 24px 1fr 24px 24px [col-end];
}
#stores {
    grid-template-columns: [col-start] 24px 24px 1fr 24px 24px 24px 24px [col-end];
}
#shopping {
    grid-template-columns: [col-start] 1fr 24px 24px 1fr 24px[col-end];
}

.aisles, .ingredients {
    display: grid;
    gap:5px;
    grid-column: 2 / col-end;
    grid-template-columns: subgrid;
    background-color: lightgrey;
    padding: 5px 0px;
}

.grid-header {
    display: grid;
    gap:5px;
    grid-column: col-start / col-end;
    grid-template-columns: subgrid;
    padding: 5px 0px;
    position: sticky;
    top:0px;
    background: white;
    align-items: center;
    background: darkgray;
}


#products .item:nth-last-child(5n) {
    padding-left:5px;
}



#shopping .item:nth-last-child(6n+5) {
    padding-left:5px;
}

.item select {
    width: 100%;
    height: 100%;
}
.item select.sortSelect {
    width: initial;
}

datalist option {
        text-transform: capitalize;
}
.item input {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
}
.span2 {
    grid-column-end: span 2;
}
.fullwidth {
    grid-column: col-start / col-end;
    border-top: solid 1px;
}
.material-icons {
    font-size: 20px;
}

button.material-symbols-outlined {
    padding: 0px;
    border:none;
    background:none;
}
@media only screen and (min-width: 992px) {
    .desktopcont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:10px;
        align-items: start;
    }
    #tabSelect {
        display:none;
    }
}

@media only screen and (max-width: 992px) {
    /* 36px is height of tabSelect, 2px is because of the dektopcontborder */
    .desktopcont {
        height: calc(100% - 36px - 2px);
        overflow-y: scroll;
        border: solid 1px;
    }
    /* only one panel visible at a time */
    .desktopcont>.container {
        display: none;
        padding-top: 0;
    }
    .desktopcont>.container.selected {
        display: grid;
    }
    #tabSelect {
        display:initial;
    }
    #tabSelect {
        display:grid;
        grid-template-columns: repeat(6, 1fr);
        gap:0px;
        align-items:end;
    }
    #tabSelect>* {
        border: solid 1px black;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        text-align:center;
        background: lightgray;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #tabSelect>.selected{
        background: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}

[class^="material-symbols"] {
    cursor:pointer;
}